/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(0) {
  color: blue;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(1) {
  color: #4d00ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(2) {
  color: #9900ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(3) {
  color: #e500ff;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(4) {
  color: #ff00cc;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(5) {
  color: #ff0080;
}

/* line 20, ../sass/pizza.scss */
[data-pie-id] li:nth-child(6) {
  color: #ff0033;
}

/* line 31, ../sass/pizza.scss */
ul[data-pie-id] {
  list-style: none;
  padding: 10px;
}
